<!DOCTYPE html>
<html>
<head>
  <!-- Base meta data -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>@ViewData["Title"]</title>
  <!-- Sharing meta data -->
  <meta name="title" content="@ViewData["Title"]" />
  <!--<meta name="image" content="/images/isotype.png" />--> @* TODO: Resize image *@
  <meta name="description" content="Somos la primera plataforma de servicios a domicilio. Llena tus datos y comienza a vivir la vida de una manera diferente con Manos." />
  <!-- Open Graph Data -->
  <meta property="og:title" content="@ViewData["Title"]" />
  <!--<meta property="og:image" content="/images/isotype.png" />--> @* TODO: Resize image *@
  <meta property="og:description" content="Somos la primera plataforma de servicios a domicilio. Llena tus datos y comienza a vivir la vida de una manera diferente con Manos." />
  <!-- Apple save-page-as-app setting -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <environment include="Development">
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Owl Carousel 2 -->
    <link href="~/lib/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet" />
    <!-- Site -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </environment>
  <environment exclude="Development">
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Owl Carousel 2 -->
    <link href="~/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Site -->
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
</head>
<body>
  <!-- Page content -->
  @RenderBody()
  <!-- /.page-content -->

  <environment include="Development">
    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Knockout -->
    <script src="~/lib/knockout/dist/knockout.debug.js"></script>
    <!-- Moment -->
    <script src="~/lib/moment/min/moment-with-locales.js"></script>
    <!-- JQuery ScrollTo -->
    <script src="~/lib/jquery.scrollTo/jquery.scrollTo.js"></script>
    <!-- Owl Carousel 2 -->
    <script src="~/lib/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Site -->
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Knockout -->
    <script src="~/lib/knockout/dist/knockout.js"></script>
    <!-- Moment -->
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <!-- JQuery ScrollTo -->
    <script src="~/lib/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <!-- Owl Carousel 2 -->
    <script src="~/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- Site -->
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
